* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
